{% extends 'core/base.html' %}

{% load static %}

{% block title %}Historia{% endblock %}

{% block content %}
<section class="page-section about-heading">
  <div class="container">
    <img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="{% static 'core/img/about.jpg' %}" alt="">
    <div class="about-heading-content">
      <div class="row">
        <div class="col-xl-9 col-lg-10 mx-auto">
          <div class="bg-faded rounded p-5">
            <h2 class="section-heading mb-4">
               <!-- <span class="section-heading-upper">Empresa altamente calificada</span>-->
              <span class="section-heading-lower">NOSOTROS</span>
            </h2>
            <p>A través de un equipo de profesionales, técnicos especializados ,
logramos que las personas y empresas satisfagan sus necesidades con los servicios otorgados.Estamos listos para brindarte una atención personalizada, resolutiva y experta acorde a tus requerimientos en vidrios. </p>
            
            <p>Fomentar la creatividad, la iniciativa, el espíritu de superación de nuestros colaboradores para nuestros trabajos, haciendo posible una superación constante de nuestra empresa.Estamos en camino de ser una empresa reconocida en el rubro, apoyados en la buena reputación de nuestros trabajos de instalacion de cristales, con calidad seguridad, y precios accesibles, de esta manera satisfacer la necesidad de nuestros clientes.
 </p>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}